body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/full-bloom.png");
	color: #777;
}

.top-container {
	padding-left: 0;
}

.navbar-top {
	border-bottom-style: solid;
	border-width: 1rem;
	border-color: #ccc;
}

.navbar-brand {
	background-color: #18435A;
	padding:1rem;
	margin: 0;

}
.navbar {
	padding-bottom: 0;
}

h1.navbar-brand {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 600; 
	margin-right: 2rem;
	font-size: 1.8em;
}

.navbar-light .navbar-brand{
	color: #fff !important;
}

a {
	color: #777;
}

.body-container {
	margin-top: 2rem;
	background-color: #fff;
	padding-bottom: 2rem;
	margin-bottom: 4rem;
}

.foot-contain {
	padding-bottom: 2rem;
}

h2 {
	color: #2A628F;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.5em;
	font-weight:600;
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #ccc;
}

#headshot {
	float: left;
	margin: 0 2rem 0 0;
}

  #foot {
	color: #fff;
	font-size: .7em;
	margin: 0 auto;
	padding: .3rem 0 .1rem;
  }
  
.footer {
	border-top-style: solid;
	border-width: 4px;
	border-color: #13293D;
}

.bg-dark, .navbar-dark {
	background-color: #16324F !important;
}

.btn-primary {
	background-color: #18435A;
    border-color: #18435A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #599995;
    border-color: #599995; /*set the color you want here*/
}

.image {
	margin: 2rem auto;
	position: relative;
	z-index: 1;

}

h2.portfolio-p {

	width: 18.75rem;
	text-align: center;
	background-color: #2A628F;
	margin: -4rem 0 0;
	padding: 1rem 0;
	position: relative;
	z-index: 2;
	border: none;
}

h2.portfolio-p a {
	color: #fff;
}

.repo {
	font-size: .7em;
	font-weight: 200;
}

.navbar-light .navbar-toggler {
    color: #18435A;
    border-color: #18435A;
}

ul {
    width: 10rem;
    margin: auto;
}

li {
	list-style-type: none;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
	h2, h1.navbar-brand {
		font-size: 2em;
	}
	.body-container p {
		font-size: 2em;
	}
	img {
		width: 250px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 1.5em;
	}
}
/